<html>
<head>
<title>Spring Boot Security</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <style>
    .container {
      max-width: 500px;
    }
  </style>
</head>
<body>
<div class="container my-3">
  <h1>Spring Boot Security</h1>
  <p>Spring Boot Security을 사용한 간단한 예제입니다.</p>
  <p>로그인을 하려면 <a href="/login">여기</a>를 클릭하세요.</p>
  <p>회원가입을 하려면 <a href="/register">여기</a>를 클릭하세요.</p>
  <p th:text="${username}"></p>
</body>
</html>